@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Patua+One&display=swap');

body{
    background: rgb(238, 230, 230);
    height:fit-content;
    margin: 0;

}


/* Estilos del header */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:20vh;
}
h1{
    border-radius: 5%;
    border: 3px solid rgba(7, 7, 7, 0.76);
    background-color: #fff;
    text-align: center;
    padding: 10px 40px 10px 20px;
    font-family: 'Almarai', sans-serif;
}

/* Aqui empiezan los estilos del main */
main{
    height:max-content;
    box-sizing:border-box;
    margin: 30px 0;
}
.container{
    font-family: 'Baloo Chettan 2', cursive;
    border: 2px solid rgb(34, 20, 20);
    background-color:hsl(0, 0%, 0%);
    box-sizing:border-box;
   
    width:380px;
    
    height: 360px;
    margin: auto;
    top: 0;
    bottom:0;
    right: 0;
    left:0;
}
/* visor de la calculadora */
.display{
    background:rgb(216, 208, 208);
    padding:5px 8px 0px 8px;
    display: flex;
    justify-content:end;
    align-items:flex-end;
    height:15%;
    flex-direction: column;
    border: 5px;
    border-color: black;
}
#valor-anterior{
    display: flex;
    justify-content:flex-end ;
    align-items: flex-end;
    height:50%;
    width:100%;
    font-size: 1.5em;
}
#valor-actual{
    display:flex;
    justify-content:flex-end ;
    align-items: flex-end;
    height:50%;
    width:100%;
}

.simbols{
    display:grid;
    grid-template-columns: 16.59% 16.59% 16.59% 16.59% 18.75% 15%;
    height:10%;

}
.simbols button{
    font-size:1.5em;
}
#c{
    color: #fff;
    background-color: rgb(92, 90, 89);
}
#c:hover{
    background-color: rgb(226, 120, 78);
}

.num{
    display: grid;
    grid-template-columns: 85% 15%;
    height:74%;
    
}

.numeros{
    display: grid;
    grid-template-columns:auto auto auto;
    
}
.numeroB{
    font-family: 'Quando', serif;
    font-size: 1.5em;
}

#igual{
    width: 100%;
    height: 67.1%;
    background: rgba(255, 124, 76, 0.87)
}
#nulo{
    width: 100%;
    height: 16.45%;
}
#punto{
    width: 100%;
    height: 16.45%;
    font-size: 1.5em;
}

.numeros button:hover{
    transition: 0.29s;
    
    background:rgb(184, 178, 178)
    
}
#igual:hover{
    transition:0.20s;
    background:rgb(255, 150, 108) ;
}
#nulo:hover{
    background:rgb(184, 178, 178) ;
    transition:0.29s;
}
#punto:hover{
    width: 100%;
    height: 16.45%;
    font-size: 1.5em;
    background:darkgray;
    transition:0.29s;
}

@media (max-width:720px) and (min-width:520px){
    h4{
        font-size:18px;
    }
}


@media (max-width:520px) and (min-width:340px){
    .container{
        width: 75%;
    }
    .num{
        grid-template-columns: 85% 15%;
    }

    .numeros{
        grid-template-columns:33.33% 33.33% 33.33%;
    }
    .igual{
        width: 100%;
    }
    .titulo{
        font-size:1.8em;
    }
    .h1{
        padding: 10px 17px 10px 17px;
    }
    
}

/* Media para 340px-100px */
@media (max-width:340px) and (min-width:100px){
    .container{
        width: 85%;
    }
    
    .titulo{
        font-size:1.5em;
    }
    .h1{
        padding: 10px 15px 10px 15px;
    }

    
    
}